// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fav_mark{
  width: 40px;
  margin: 2px;
  margin-left: 18px;
}

.fav_title {
  font-family: "Hiragino Sans";
  margin-bottom: 30px;
}
